In [7]:
from president_speech.db.parquet_interpreter import read_parquet
import pandas as pd

In [8]:
df = read_parquet()

In [9]:
df.head(1)

,division_number,president,title,date,location,kind,speech_text
5368,1305368,ë°•ì •í¬,ì œ5ëŒ€ ëŒ€í†µë ¹ ì·¨ì„ì‹ ëŒ€í†µë ¹ ì·¨ì„ì‚¬,1963.12.17,êµ­ë‚´,ì·¨ì„ì‚¬,"\n\n\në‹¨êµ°ì„±ì¡°ê°€ ì²œí˜œì˜ ì´ ê°•í† ìœ„ì— êµ­ê¸°ë¥¼ ë‹¦ìœ¼ì‹ ì§€ ë°˜ë§Œë…„, ì—°ë©´íˆ ì´ì–´ì˜¨ ..."

## ğŸ” ê²€ìƒ‰ ë‹¨ì–´ ì…ë ¥ - search_word
###  â¬‡ ì•„ë˜ì—ì„œ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤ (â€â€¢ ÖŠ â€¢â€)à©­

In [22]:
search_word = "ììœ "

In [23]:
def add_keyword_count(df: pd.DataFrame, keyword: str) -> pd.DataFrame:
    """
    DataFrameì— keyword_count ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ì—¬ ë°˜í™˜í•©ë‹ˆë‹¤.
    ê° speech_textì—ì„œ keywordê°€ ë“±ì¥í•˜ëŠ” íšŸìˆ˜ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
    """
    # keyword_count ì»¬ëŸ¼ ì¶”ê°€
    df['keyword_count'] = df['speech_text'].str.count(keyword)
    return df

In [32]:
df_kc = add_keyword_count(df, search_word)

In [33]:
df_kc.columns

Index(['division_number', 'president', 'title', 'date', 'location', 'kind',
       'speech_text', 'keyword_count'],
      dtype='object')

In [34]:
df_kc.dtypes

division_number     int64
president          object
title              object
date               object
location           object
kind               object
speech_text        object
keyword_count       int64
dtype: object

In [35]:
# (â€â€¢ ÖŠ â€¢â€)à©­ ì—°ì„¤ë¬¸ ë‹¹ search_word ê°€ speech_text ì— ëª‡ë²ˆ ìˆëŠ”ì§€ ì¹´ìš´íŠ¸ ëœ ê²°ê³¼ ì…ë‹ˆë‹¤
df_kc[['president','title','keyword_count']].sample(frac=1, random_state=42).head(3)

,president,title,keyword_count
101499,ë¬¸ì¬ì¸,ì‹œìŠ¤í…œ ë°˜ë„ì²´ ë¹„ì „ì„ í¬ì‹,0
6422,ë°•ì •í¬,ì•„ë©”ë¦¬ì¹¸ ëŒ€í•™ì˜ ì œ7ì°¨ ì¸í„°ë‚´ì…”ë„ ìœ„í¬ì— ë³´ë‚´ëŠ” ë©”ì‹œì§€,0
8804,ê¹€ëŒ€ì¤‘,6Â·25 ì œ49ì£¼ë…„ ì°¸ì „ìš©ì‚¬ ìœ„ë¡œì—° ì—°ì„¤(í•œë°˜ë„ í‰í™”ì™€ ë²ˆì˜ì„ ìœ„í•œ í˜¸êµ­ì •ì‹ ì˜ ê³„ìŠ¹),11

In [45]:

f_df = df_kc[df_kc['keyword_count'] >= 10]

# random_stateëŠ” ëœë¤í•œ ê²°ê³¼ë¥¼ ì¬í˜„ ê°€ëŠ¥í•˜ê²Œ ë§Œë“¤ê¸° ìœ„í•œ íŒŒë¼ë¯¸í„°ì…ë‹ˆë‹¤. 
# ì¦‰, random_state ê°’ì„ ì„¤ì •í•˜ë©´ 
# ê°™ì€ ë°ì´í„°ì™€ ê°™ì€ ì¡°ê±´ì—ì„œ ì–¸ì œë“ ì§€ ë™ì¼í•œ ëœë¤ ê²°ê³¼ë¥¼ ì–»ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. 
# ì´ë¥¼ í†µí•´ ì‹¤í—˜ì„ ë°˜ë³µí•˜ê±°ë‚˜ ë‹¤ë¥¸ ì‚¬ëŒê³¼ ì‘ì—…ì„ ê³µìœ í•  ë•Œ ê²°ê³¼ê°€ ì¼ê´€ë˜ê²Œ ìœ ì§€ë©ë‹ˆë‹¤.
# 42(ì€í•˜ìˆ˜ë¥¼ ì—¬í–‰í•˜ëŠ” íˆì¹˜í•˜ì´ì»¤ë¥¼ ìœ„í•œ ì•ˆë‚´ì„œ) ì—ì„œì˜´ - ì•„ë¬´ ìˆ«ìë‚˜ ê°€ëŠ¥
f_df[['president', 'title', 'keyword_count']].sample(frac=1, random_state=42).head(3)

      president                   title  keyword_count
10997       ì´ìŠ¹ë§Œ  ìƒí•­(æ¡‘æ¸¯) ì½¤ëª¬ì›°ìŠ¤ í´ë¼ë¸Œì—ì„œì˜ ì—°ì„¤              13
6550        ë°•ì •í¬      ì œ9ì°¨ ì„¸ê³„ ë°˜ê³µ ì—°ë§¹ ì´íšŒ ì¹˜ì‚¬             10
11198       ì´ìŠ¹ë§Œ       ê³µêµ°ë³¸ë¶€ ì‹ ì²­ì‚¬ ë‚™ì„±ì‹ì— ì¹˜ì‚¬              13

In [50]:
a_df = f_df.groupby("president").agg(
    count=("speech_text", "size"),  # ì—°ì„¤ ê°œìˆ˜
    keyword_sum=("keyword_count", "sum")  # keyword ë°œìƒ íšŸìˆ˜ í•©ì‚°
)

In [52]:
s_df = a_df.sort_values(by=["keyword_sum", "count"], ascending=[False, False])

In [53]:
s_df.reset_index()

  president  count  keyword_sum
0       ì´ìŠ¹ë§Œ     59          881
1       ë°•ì •í¬     47          757
2       ë…¸íƒœìš°     23          314
3       ë…¸ë¬´í˜„      6          129
4       ê¹€ëŒ€ì¤‘      6          110
5       ì „ë‘í™˜      4           67
6       ì´ëª…ë°•      4           66
7       ë¬¸ì¬ì¸      5           61
8       ê¹€ì˜ì‚¼      3           45

In [57]:
f_df.groupby("president")["keyword_count"].sum().reset_index()

  president  keyword_count
0       ê¹€ëŒ€ì¤‘            110
1       ê¹€ì˜ì‚¼             45
2       ë…¸ë¬´í˜„            129
3       ë…¸íƒœìš°            314
4       ë¬¸ì¬ì¸             61
5       ë°•ì •í¬            757
6       ì´ëª…ë°•             66
7       ì´ìŠ¹ë§Œ            881
8       ì „ë‘í™˜             67